<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="author" content="Nick Charlton">
    <meta name="description" content="An API for Urban Dictionary">

    <title>UrbanScraper &mdash; an API for Urban Dictionary</title>

	<!-- sensible default styles -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
    <!-- pretty custom styles -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- code styles -->
    <link rel="stylesheet" href="/stylesheets/code.css">
  </head>

  <body>
    <h1>UrbanScraper <span class="smallcaps">an API for Urban Dictionary</span></h1>

    <%= yield %>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51c1e2a9613f5d7d34000101');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>

