<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="author" content="Nick Charlton">
    <meta name="description" content="An API for Urban Dictionary">

    <title>UrbanScraper &mdash; an API for Urban Dictionary</title>

	<!-- sensible default styles -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
    <!-- pretty custom styles -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- code styles -->
    <link rel="stylesheet" href="/stylesheets/code.css">
  </head>

  <body>
    <h1>UrbanScraper <span class="smallcaps">an API for Urban Dictionary</span></h1>

    <%= yield %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108073191-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108073191-3');
    </script>
  </body>
</html>

