body {
    font-family: Helvetica, sans-serif;    
    margin: 1.0416667%; /* 10px / 960px */
	width: 60%;
	background-color: #FFFFFF;
	padding: 1.0416667%; /* 10px / 960px */

}

h1, h2, h3, h4, h5 {
    font-family: Helvetica, sans-serif;
}

.smallcaps {
    font-variant: small-caps;
    font-size: 0.5em; /* 10px / 16px */
}

h2, h3, h4, h5 {
    padding-top: 1.0416667%; /* 10px / 960px  */
    padding-bottom: 1.041667%; /* 10px / 960px */
}

p {
    padding-top: 0.5208333%; /* 5px / 960px */
    padding-bottom: 0.5208333%; /* 5px / 960px */
}


